.sif-section {
  display: flex;
  flex-direction: column;
  padding: 2em 1.5em;
  max-width: var(--size-max);
  margin-left: auto;
  margin-right: auto;
}

.sif-section + .sif-section {
  padding-top: 0;
}

.sif-section-headline,
.sif-section > h1,
.sif-section > h2,
.sif-section > h3 {
  font-weight: 700;
}