:host {
  display: block;
}

section {
  min-height: 26em;
  text-align: center;
  align-items: center;
  background-position: center;
  background-size: cover;
}

.headline, .body, .cta {
  max-width: 270px;
}