extends ../index

block main
  each section in page.sections
    case section.system.type
      when 'hero_section'
        include ../partials/sections/hero-section
      when 'steps_section'
        include ../partials/sections/steps-section