doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='styles/reset.css' type='text/css')
    link(
      rel='stylesheet'
      href='https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif'
      type='text/css'
    )
    link(rel='stylesheet' href='styles/typography.css' type='text/css')
    link(rel='stylesheet' href='blocks/hero.css' type='text/css')
    link(rel='stylesheet' href='blocks/button.css' type='text/css')
    link(rel='stylesheet' href='blocks/steps-list.css' type='text/css')
    link(rel='stylesheet' href='blocks/section.css' type='text/css')
    title Headless POC

  body
    include partials/header
    main
      block main
    include partials/footer