doctype html
html(lang='')
  head
    base(href='/')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(
      rel='stylesheet'
      href='https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif'
      type='text/css'
    )
    link(rel='stylesheet' href='static/shared-styles.css' type='text/css')
    link(rel='stylesheet' href='static/shared-blocks.css' type='text/css')
  body
    sif-app
    script(src='static/bundle.js' type='text/javascript')

    script.
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/static/service-worker.js').then(registration => {
            console.log('SW registered: ', registration);
          }).catch(registrationError => {
            console.log('SW registration failed: ', registrationError);
          });
        });
      }