section.sif-section.sif-hero.theme-secondary(style={
    'background-image': 'url('+ section.backgroundImage.value[0].url +')'
  })
  h1.sif-hero-headline #{section.headline.value}
  p #{section.body.value}
  a.sif-button #{section.ctaText.value}