a.sif-button {
  border: 1px solid var(--color-brand);
  color: var(--color-brand);
  background: transparent;
  padding: 0;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  min-width: 12.5em;
  height: 40px;
  line-height: 40px;
}

.sif-button:hover,
.sif-button:active {
  cursor: pointer;
}

.theme-secondary .sif-button {
  border: 1px solid var(--color-brand);
  color: var(--color-light);
  background: var(--color-brand);
}
