.sif-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 1.5em;
  max-width: 1048px;
  min-height: 30em;
  text-align: center;
  background-position: center;
  background-size: cover;
}

.sif-hero > * {
  max-width: 270px;
}

.sif-hero-headline {
  font-weight: 700;
  margin: 0;
}